aside {
    position: fixed;
    top: 0;
    @include visible;
    width: 100vw;
    height: 100vh;
    background-color: white;
    animation: display-in-out 2.5s forwards;
    .loader {
        background: linear-gradient(45deg, #ff69b4, #ff6347, #87cefa, #98fb98);
        animation: color-shift 2.5s infinite; /* Ajout d'une animation de fade-out */
        font: 5vw/100vh "Shrikhand";
        font-size: 2rem;
        text-align: center;
        color: transparent;
        -webkit-background-clip: text; /* Permet de remplir le texte avec le dégradé */
        backface-visibility: hidden;
        pointer-events: none; /* Désactive les interactions avec le loader */
      }
}