@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap');





//       Variables Colors
$primary: #9356dc;
$secondary: #ff79da;
$blue2: #003A68;
$blue: #89C8FA;
$greenfont: #008766;
$green: #99E2D0;
$grayblack: #353535;


//       Variables média queries




