@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap');


$primary: #9356dc;
$secondary: #ff79da;
$blue2: #003A68;
$blue: #89C8FA;
$greenfont: #008766;
$green: #99E2D0;
$grayblack: #353535;
$graylight:#F6F6F6;
$grayparis:#EAEAEA;



//       Variables média queries

$smartphone: 667px;
$tablette: 768px;
$desktop: 1200px;

$max-width: 1500px;

body {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    width: 100%;
    overflow-x: hidden;
    max-width: $max-width;
    margin: 0 auto;
}

.titlegray {

    color:$grayblack;
    font-weight: 300;
    font-size: 18px;
}


.bold {
    
    font-size: 24px;
    font-weight: bold;
    font-weight: 700;
    line-height: 28px;
  
}

.heart {
    i {
        font-size: 1.3rem;
        position: absolute;
        top: 20px;
        right: 25px;
    }

    .fa-sharp::before {
        transition: all 1s ease-in-out;
    }

    .fa-solid::before {
        opacity: 0;
        background: -webkit-linear-gradient(#9356DC, #FF79DA);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 1s ease-in-out;
    }

    &:hover {
        .fa-sharp::before {
            opacity: 0;
        }

        .fa-solid:before {
            opacity: 1;
        }
    }

}
