footer {

    background-color: $grayblack;
    color: white;
    padding-left: 2rem;
    padding-bottom: 1rem;
    

    h1 {
        display: flex;
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        padding-top: 20px;
        font-size: 20px;
        
    }
    
    a {
        
        text-decoration: none;
        color: white;
        align-items: center;
        
        
      
        
    }
    i {
        padding-right: 5px;
    }


   

    .footer-links {
        @include flex-column-row-desktop;

        @media screen and (min-width: 768px) {
            flex-direction: row-reverse;
            align-items: center;
            
            padding:20px 5px 0px 5px ;
            
            

            h1 {
                
                padding:0px 60px 0px 0px ; // met une marge a droite
            }

            p {
                
                
                margin:0px;
            }

            

            
    
        }

       

        .footer-interactions {
            @include flex-column-row-desktop;
            gap: 7px;

        }

        .footer-information {
            @include flex-column-row-desktop;
            gap: 7px;

        }

        .footer-menulogo {
            display: flex;
            justify-content: center;
        }
    }




}