footer {

    background-color: $grayblack;
    color: white;
    padding-left: 2rem;
    padding-bottom: 1rem;
    

    h1 {
        display: flex;
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        padding-top: 20px;
        font-size: 20px;
        
    }
    
    a {
        
        text-decoration: none;
        color: white;
        align-items: center;
        
        
      
        
    }
    i {
        padding-right: 5px;
    }


    @media screen and (min-width: 768px) {
        flex-direction: row-reverse;
        // Aligner à droite.
    }

    .footer-links {
        @include flex-column-row-desktop;

        @media screen and (min-width: 768px) {
            gap: 14px;
        }

        .footer-interactions {
            @include flex-column-row-desktop;
            gap: 7px;

        }

        .footer-information {
            @include flex-column-row-desktop;
            gap: 7px;

        }
    }




}