footer {
    @include flex-column-row-desktop;
    gap: 16px;
    background-color: $grayblack;
    color: white;
    padding: 22px 25px;
    h2 {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-size: 18px; 
    }
    p {
        /* Annulation des marges par défaut des paragraphes */
        margin: 0;
    }
    a {
        text-decoration: none;
        color: white;
    }
    i {
        padding-right: 5px;
    }
    .footer-links {
        @include flex-column-row-desktop;
        gap: 7px;
        @media screen and (min-width: 768px) {
            gap: 7px;
        }
        &-group {
            @include flex-column-row-desktop;
            gap: 7px;
        }
        /* Sélection des paragraphes du premier footer-links-group */
        &-group:first-child p {
            width: 190px;
        }
        /* Sélection des paragraphes du dernier footer-links-group */
        &-group:last-child p {
            width: 130px;
        }
    }
    @media screen and (min-width: 768px) {
        flex-direction: row-reverse;
        align-items: center;
        p {
            margin:0px;
        }
    }
}


