header {

    text-align: center;
    z-index: 1;
    overflow: hidden;
    width: 375px;
    height: 63px;
    
    h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.875rem;
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        
    }
}