
@mixin btn-gradient-style {
    .btn-gradient { 
        flex-wrap: wrap;
        background-color:$graylight;
        color:white;
        border-radius: 2rem;
        border:none;
        font-size: 1rem;
        background: linear-gradient($secondary,$primary,);
        padding: 1rem 1rem 0.8rem 1.5rem;
        margin-bottom: 3rem;
        box-shadow: 0 3px 10px $grayblack;
    
        
        &:hover {
            cursor:pointer;
            
        }

    } 

}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin color-heart() {                              // Mixin pour le remplissage du coeur
    .layout-star {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        .fa-solid.fa-heart { 
            display: none;
        }
       &:hover {
            cursor: pointer;                        // cache le coeur vide
            .fa-regular.fa-heart {
                display: none;
            }
            .fa-solid.fa-heart {                    // fait apparaitre le coeur plein pour y affecter le dégradé
                display: inline;
            }
            opacity: 0;                             // opère le dégradé de couleurs
            background-clip: border-box;
   
        }
    }
}

@mixin choix-menu {                                 // création d'un choix de menu
    .menus {
        border: 0;
        padding: 0;
        @include flex-center;
        flex-wrap: wrap;

        .articles {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 5px;
            
            .entrees, .plats, .desserts {
                @include flex-center;
                padding-bottom: 3rem;
                flex-wrap: wrap;
                width: 32%;
                align-content: flex-start;
                // min-width: 320px;
                h4, p {
                    margin: 0;
                    overflow: hidden;             
                    @include nowrap-ellipsis;
                }
                p {
                    font-size: 0.9rem;
                }

                h3 {
                    @include flex-center;
                    flex-basis: 100%;
                    // mise en majuscule des titres de menus
                    text-transform: uppercase;  
                    color: $--grayblack;
                    font-weight: normal;
                    margin: 0;
                    padding-bottom: 1rem;
                    position: relative;
                    // trait de soulignement vert
                    &::after {          
                        position: absolute;
                        top: 25px;
                        content: "";
                        height: 3px;
                        width: 50px;
                        background-color: $--tertiary;
                    }
                }
                @include article-menu;
            }
        }
    }
}

