
@mixin header-styling () {
    @include flex-center();
    overflow: hidden; 
    text-align: center;
    
}


@mixin btn-gradient-style () {
    .btn-gradient { 
        @include flex-center();
        flex-wrap: wrap;
        width: 100%;
        background-color:$graylight;
    
        label {
            @include flex-center();
            color:white;
            border-radius: 2rem;
            font-size: 1.4rem;
            background: linear-gradient($secondary,$primary,);
            padding: 1rem 1rem 0.8rem 1.5rem;
            margin-bottom: 3rem;
            box-shadow: 0 3px 10px black;

            &:hover {
                cursor:pointer;
            
            }

        }
        p {
            font-size: 24px;
            margin-top:2rem;
         
        }

    } 

}
@mixin flex-center() {
    display: flex;
    justify-content: center;





}

