// style des boutons

@mixin btn-gradient-style {
    .btn-gradient { 
        flex-wrap: wrap;
        width: 100%;
        border-radius: 25px;
        font-size: 15px;

        label {
            color:white;
            background: linear-gradient($primary,$secondary);

            &:hover {
                cursor:pointer;

                
            }

        }
        p {


            font-size: 30px;
        }

    } 

}
@mixin flex-center() {
    display: flex;
    justify-content: center;

}