@import "base"; // Style de base commun à toutes les pages, incluant les variables.
@import "mixins"; // Style réutilisable.
@import "keyframes"; // Animations (pouvant utiliser les variables et les mixins)

@import "header"; // Style de base du header.

// Ajout de style spécifique pour le header (pour la page dédiée aux restaurants)
body {
    box-sizing: border-box;
    width: 375px;

    header {
        @include flex-center;

        .container {
            @include flex-center;
            align-items: center;

            .logo {

                i {

                    font-size: 20px;
                    color: black;
                    cursor: pointer;
                    margin-right: 50px;
                    /* Décaler la flèche de 10px à droite du texte */
                }
            }

            .titre {
       
                h1 {
                    font-size: 30px;
                    font-weight: 400;
                    margin: 0;
                    font-style: italic;
                    line-height: 43px;
                }
            }
        }
    }

    main {

        background-color: $graylight;

        img {
            height: 300px;
            object-fit: cover;
            width: 100%;
        }

        .titre-menu {
            position: relative;
            top: -4rem;
            border-radius: 3rem 3rem 0 0;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 95%;
            padding-left: 1.5rem;
            background-color: $graylight;

            h1 {
                font-family: 'Shrikhand', cursive;
                font-size: 28px;
                font-weight: 400;
            }

            i {
                display: flex;
                font-size: 28px;
                padding-right: 50px;
            
            }
        }

        .menu {



          
            
            .entrees, .plats, .desserts {

                h3 {
                    font-size:16px ;
                    font-weight: lighter;
                    margin-left: 10px;
                    width: 275px;
                    height: 27px;
                    border-bottom: 3px solid #99E2D0;
                    width: 40px; 
                }

                .card {
                    display: flex;
                    background-color: white;
                    width: 349px;
                    height: 69px;
                    border-radius: 1rem;
                    margin-bottom: 1rem;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    box-shadow: 0 2px 5px $grayparis;

                    .description {

                        h4 {
                            font-size: 16px;

                        }
    
                        p {
                            font-size: 15px;
                        }
                    }
    
                    .prix {
                        font-size: 10px;
                    }
                }
            }


            

            .btn-gradient { 
                
                margin-top: 35px;
                margin-bottom: 30px;
                margin-left: 90px; 
                width: 186px;
                height: 50px;
                flex-wrap: wrap;
                background-color:$graylight;
                color:white;
                border-radius: 2rem;
                border:none;
                font-size: 1rem;
                background: linear-gradient($secondary,$primary,);
                padding: 1rem 1rem 0.8rem 1.5rem;
                box-shadow: 0 3px 10px $grayblack;
            
                
                &:hover {
                    cursor:pointer;
                    
                }
        
            } 



        } 
        
    }

}

@import "footer";



//       MEDIA QUERIES
//





