@import "base"; // Style de base commun à toutes les pages, incluant les variables.
@import "mixins"; // Style réutilisable.
@import "keyframes"; // Animations (pouvant utiliser les variables et les mixins)

@import "header"; // Style de base du header.

// Ajout de style spécifique pour le header (pour la page dédiée aux restaurants)
body {
    box-sizing: border-box;
   


    header {
        // Hauteur fixé à 63px:
            height: 63px;
            display: flex;
            // Tout est centré :
            text-align: center;
            align-items: center;
            justify-content: center;
            position: relative;
            .logo {
                // Position absolute (pour le placement par rapport au dernier élément relatif)...
                position: absolute;
                // 17px en partant du haut, et 17px en partant de la gauche.
                top: 17px;
                left: 17px;
                i {
                    // Padding autour de la flèche (fidèle à la maquette).
                    padding: 6px 7px;
                    font-size: 20px;
                    color: black;
                    cursor: pointer;
                }
            }
            .titre {
                flex: 1;
                h1 {
                    font-size: 30px;
                    font-weight: 400;
                    font-style: italic;
                }
            }
    
    }

    main {

        align-items: center;


        img {
            height: 275px;
            object-fit: cover;
            width: 100%;
            
        }

        .menu {
    
            background-color: $graylight;
            margin-top: -3rem;
            max-width: 1055px;
            margin-inline: auto;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            position: relative;
            padding: 1.5rem;
            .titre-menu {
                position: relative;
                background-color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-basis: 95%;
                background-color: $graylight;
                gap: 1rem;
                @media(min-width: 768px) {
                    justify-content: center;
                    width: 40%;
                    margin-inline: auto;
                }

            
                h1 {
                    font-family: 'Shrikhand', cursive;
                    font-size: 23px;
                    font-weight: 400;
                    
                }
    
                i { 
                    
                    display: flex;
                    font-size: 20px;
                    
                
                }
            }



          
            .entrees {
                -webkit-animation: slide-in-left 1s 0s both;
                        animation: slide-in-left 1s 0s both;
            }
            .plats {
                -webkit-animation: slide-in-right 1s 0.5s both;
                animation: slide-in-right 1s 0.5s both;
            }
            .desserts {
                -webkit-animation: slide-in-left 1s 1s both;
                        animation: slide-in-left 1s 1s both;
            }
            .entrees, .plats, .desserts {
                max-width: 634px;
                margin-inline: auto;

                h3 {
                    font-size:16px ;
                    font-weight: lighter;
                    border-bottom: 3px solid #99E2D0;
                    width: 40px; 
                }

                .cards {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;

                    
                }

                .card {
                    display: flex;
                    width: 100%;
                    background-color: white;
                    border-radius: 1rem;
                    box-shadow: 0 2px 5px $grayparis;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis; 
                    



                    &:hover .select-choix {
                        margin: 0;
                        transition: all 0.5s;
                        cursor: pointer;
                    }
                    
                    
                
                    .description {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        overflow: hidden;  
                        width: calc(100% - 10px);
                        padding: 1rem 1rem 1rem 1rem;
                        
                        
                        

                        h4 {
                            font-size: 16px;
                            margin: 0;

                        }
    
                        p {
                            margin: 0;
                            font-size: 15px;
                            font-weight: 300;
                        }
                    }
    
                    .prix {
                        font-size: 15px;
                        margin: 0;
                        padding:20px 20px 5px 20px;

                        p {
                            margin-right: 10px;
                        }
                        
                        
                        
                    }

                    .select-choix {
                        @include flex-center;
                        background-color: $greenlight;
                        color: white;
                        font-weight: bold;
                        font-size: 1.3rem;
                        align-items: center;
                        border-radius: 0 1rem 1rem 0;
                        width: 90px;
                        margin-right: -90px;
                        
                        
                        
                    }

                 
                }
            }

            .information {

                display: flex;
                justify-content: center;
                

                .btn-gradient { 

                
                
                    margin-top: 35px;
                    margin-bottom: 30px;
                    width: 186px;
                    height: 50px;
                    flex-wrap: wrap;
                    background-color:$graylight;
                    color:white;
                    border-radius: 2rem;
                    border:none;
                    font-size: 1rem;
                    background: linear-gradient($secondary,$primary,);
                    padding: 1rem 1rem 0.8rem 1.5rem;
                    box-shadow: 0 3px 10px $grayblack;
                
                    
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.02);
                        box-shadow: 0 3px 6px $grayblack;
                        transition: 0.3s;
                        filter: brightness(115%);
                    }
            
                } 


            }
            



        } 
    }
}
        
    


@import "footer";



//       MEDIA QUERIES
//





