@import "base"; // Style de base commun à toutes les pages, incluant les variables.
@import "mixins"; // Style réutilisable.
@import "keyframes"; // Animations (pouvant utiliser les variables et les mixins)

@import "header"; // Style de base du header.

// Ajout de style spécifique pour le header (pour la page dédiée aux restaurants)
body {
    box-sizing: border-box;
    width: 375px;

    header {
        @include flex-center;

        .container {
            @include flex-center;
            align-items: center;

            .logo {


                i {

                    font-size: 20px;
                    color: black;
                    cursor: pointer;
                    margin-right: 50px;
                    /* Décaler la flèche de 10px à droite du texte */
                }

            }

            .titre {
                h1 {

                    font-size: 30px;
                    font-weight: 400;
                    margin: 0 auto;
                    font-style: italic;
                    line-height: 43px;
                }
            }
        }
    }

    main {

        background-color: $graylight;

        img {
            height: 300px;
            object-fit: cover;
            width: 100%;
        }

        .titre-menu {
            position: relative;
            top: -4rem;
            border-radius: 3rem 3rem 0 0;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 95%;
            padding-left: 1.5rem;
            background-color: $graylight;

            h1 {
                font-family: 'Shrikhand', cursive;
                font-size: 28px;
                font-weight: 400;
            }

            i {
                display: flex;
                font-size: 28px;
                padding-right: 50px;
            
            }
            
        }

        .menu {
            background-color:$graylight;
            
            

            .bulle {
                background-color:white;
                border: 1px solid #0026ff; /* Bordure de la bulle */
                border-radius: 10px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 349px;
                
                
            }
            
        
        } 
        
    }

}

@import "footer";