@import "base";
@import "mixins";

body {
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;
}

// header

header {
    @include flex-center();
    width: 375px;
    height: 63px;
    align-items: center;


    img {
        width: 197px;
        height: 36px;
    }
}


// nav bar

.nav-bar {
    text-align: center;
    
    
    .search-bar {

        align-items: center;
        input {
            border: none;
           
    
        }
        .btn-gradient {
            margin-bottom: 3rem;
        }
        
        @include btn-gradient-style (); // Mixin du bouton
    }
    

}

// fonctionnement

main {

    .menu {
        h2 {

        }
        ol {

        }

    }

    .restaurants {

        .card {
            img{
                height: 270px;
            }
            

        }
    }

}


















// restaurant
.restaurant {
    img {
        width: 250px;
    }
}


// footer

footer {
    color:white;
    h1 {
        display: flex;
        justify-content: center;
        width: 100%;

    }
    a { 
        text-decoration: none;
        color: white;
        align-items: center;


    }
}