@import "base"; // Style de base commun à toutes les pages, incluant les variables.
@import "mixins"; // Style réutilisable.
@import "keyframes"; // Animations (pouvant utiliser les variables et les mixins)

.main-container {
    max-height: 95vh; // Initialisé à 95% de la page, pour éviter le scroll au chargement.
    overflow: hidden;
    @include hidden;
    animation: display-out-in 0.5s 2.5s forwards; // Fait apparaitre le contenu, et change la hauteur maximum pour s'adapter au contenu.
}

@import "header";

main {

    .hero {

        text-align: center;
        background-color: $graylight;
        
        .paris {
            @include flex-center;
            color:#353535;
            background-color: $grayparis;
            width: 100%;
            height: 50px;
        }

        .information {
        
            font-weight: 700;
            margin-top: 5px;
            align-items: center;
            font-size: 24px;
            padding-top: 1rem;
            background-color: $graylight;
            font-weight: bold;
            margin-bottom: 40px;
        }
        .btn-gradient { 
            flex-wrap: wrap;
            background-color:$graylight;
            color:white;
            border-radius: 2rem;
            border:none;
            font-size: 1rem;
            background: linear-gradient($secondary,$primary,);
            padding: 1rem 1rem 0.8rem 1.5rem;
            margin-bottom: 3rem;
            box-shadow: 0 3px 10px $grayblack;
        
            
            &:hover {
                cursor:pointer;
                
            }
    
        } 

    }

    .fonctionnement {


        ol {
            @include flex-center;

            margin-bottom: 100px;
            list-style: none;
            flex-wrap: wrap;
            gap: 3rem;

            

            li {
                width: 280px;
                background-color: $graylight;
                border-radius: 1rem;
                padding: 1.5rem 0;
                box-shadow: 0 3px 5px black;
                transition: transform 1s;
                font-size: 1.1rem;



            }

            span {
                position: relative;
                left: -1rem;
                border: 1px solid $primary;
                padding: 0.4rem 0.8rem;
                border-radius: 50%;
                background-color: $primary;
                color: white;
            }


        }

    }

    .restaurants {

        background-color: $graylight;
        padding-top: 40px;
        padding-bottom: 50px;


        .card {
            

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 1rem 1rem 0 0;

                .new-restaurant::before {
                    content: "Nouveau"
                }

            }

            &-content {
                position: relative;
            }

        }


    }

}

@import "footer";
@import "aside"; // Style de la section aside de l'HTML