@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100%;
  overflow-x: hidden;
  max-width: 1500px;
  margin: 0 auto;
}

.titlegray {
  color: #353535;
  font-weight: 300;
  font-size: 18px;
}

.bold {
  font-size: 24px;
  font-weight: bold;
  font-weight: 700;
  line-height: 28px;
}
@media (min-width: 1023px) {
  .bold {
    font-size: 40px;
  }
}

.heart i {
  font-size: 1.3rem;
  position: absolute;
  top: 20px;
  right: 25px;
}
.heart .fa-sharp::before {
  transition: all 1s ease-in-out;
}
.heart .fa-solid::before {
  opacity: 0;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease-in-out;
}
.heart:hover .fa-sharp::before {
  opacity: 0;
}
.heart:hover .fa-solid:before {
  opacity: 1;
}

@keyframes display-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}
@keyframes display-out-in {
  0% {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
  }
  100% {
    max-height: fit-content;
    visibility: visible;
    opacity: 1;
  }
}
@keyframes color-shift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
header {
  text-align: center;
  z-index: 1;
  overflow: hidden;
  height: 63px;
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.875rem;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

body {
  box-sizing: border-box;
}
body header {
  height: 63px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}
body header .logo {
  position: absolute;
  top: 17px;
  left: 17px;
}
body header .logo i {
  padding: 6px 7px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}
body header .titre {
  flex: 1;
}
body header .titre h1 {
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
}
body main {
  align-items: center;
}
body main img {
  height: 275px;
  object-fit: cover;
  width: 100%;
}
body main .menu {
  width: 100%;
  background-color: #F6F6F6;
  margin-top: -3rem;
  max-width: 1055px;
  margin-inline: auto;
}
body main .menu .titre-menu {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 1.5rem;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 95%;
  background-color: #F6F6F6;
  gap: 1rem;
}
body main .menu .titre-menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 23px;
  font-weight: 400;
}
body main .menu .titre-menu i {
  display: flex;
  font-size: 20px;
}
body main .menu .entrees {
  -webkit-animation: slide-in-left 1s 0s both;
  animation: slide-in-left 1s 0s both;
}
body main .menu .plats {
  -webkit-animation: slide-in-right 1s 0.5s both;
  animation: slide-in-right 1s 0.5s both;
}
body main .menu .desserts {
  -webkit-animation: slide-in-left 1s 1s both;
  animation: slide-in-left 1s 1s both;
}
body main .menu .entrees, body main .menu .plats, body main .menu .desserts {
  max-width: 634px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}
body main .menu .entrees h3, body main .menu .plats h3, body main .menu .desserts h3 {
  font-size: 16px;
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
body main .menu .entrees .cards, body main .menu .plats .cards, body main .menu .desserts .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
body main .menu .entrees .card, body main .menu .plats .card, body main .menu .desserts .card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 5px #EAEAEA;
}
body main .menu .entrees .card .description, body main .menu .plats .card .description, body main .menu .desserts .card .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .menu .entrees .card .description h4, body main .menu .plats .card .description h4, body main .menu .desserts .card .description h4 {
  font-size: 16px;
  margin: 0;
}
body main .menu .entrees .card .description p, body main .menu .plats .card .description p, body main .menu .desserts .card .description p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}
body main .menu .entrees .card .prix, body main .menu .plats .card .prix, body main .menu .desserts .card .prix {
  font-size: 15px;
  margin: 0;
}
body main .menu .information {
  display: flex;
  justify-content: center;
}
body main .menu .information .btn-gradient {
  margin-top: 35px;
  margin-bottom: 30px;
  margin-left: 90px;
  width: 186px;
  height: 50px;
  flex-wrap: wrap;
  background-color: #F6F6F6;
  color: white;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 1rem 1rem 0.8rem 1.5rem;
  box-shadow: 0 3px 10px #353535;
}
body main .menu .information .btn-gradient:hover {
  cursor: pointer;
}

footer {
  background-color: #353535;
  color: white;
  padding-left: 2rem;
  padding-bottom: 1rem;
}
footer h1 {
  display: flex;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  padding-top: 20px;
  font-size: 20px;
}
footer a {
  text-decoration: none;
  color: white;
  align-items: center;
}
footer i {
  padding-right: 5px;
}
footer .footer-links {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer .footer-links {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  footer .footer-links {
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px 5px 0px 5px;
  }
  footer .footer-links h1 {
    padding: 0px 60px 0px 0px;
  }
  footer .footer-links p {
    margin: 0px;
  }
}
footer .footer-links .footer-interactions {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 768px) {
  footer .footer-links .footer-interactions {
    flex-direction: row;
  }
}
footer .footer-links .footer-information {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 768px) {
  footer .footer-links .footer-information {
    flex-direction: row;
  }
}
footer .footer-links .footer-menulogo {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=restaurant.css.map */
