@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100%;
  overflow-x: hidden;
  max-width: 1500px;
  margin: 0 auto;
}

.titlegray {
  color: #353535;
  font-weight: 300;
  font-size: 18px;
}

.bold {
  font-size: 24px;
  font-weight: bold;
  font-weight: 700;
  line-height: 28px;
}
@media (min-width: 1023px) {
  .bold {
    font-size: 40px;
  }
}

.heart i {
  font-size: 1.3rem;
  position: absolute;
  top: 20px;
  right: 25px;
}
.heart .fa-sharp::before {
  transition: all 1s ease-in-out;
}
.heart .fa-solid::before {
  opacity: 0;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease-in-out;
}
.heart:hover .fa-sharp::before {
  opacity: 0;
}
.heart:hover .fa-solid:before {
  opacity: 1;
}

@keyframes display-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}
@keyframes display-out-in {
  0% {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
  }
  100% {
    max-height: fit-content;
    visibility: visible;
    opacity: 1;
  }
}
@keyframes color-shift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.main-container {
  max-height: 95vh;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  animation: display-out-in 0.5s 2.5s forwards;
}

header {
  text-align: center;
  z-index: 1;
  overflow: hidden;
  height: 63px;
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.875rem;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

main .hero {
  text-align: center;
  background-color: #F6F6F6;
}
main .hero .paris {
  padding-inline: 15px;
  display: flex;
  justify-content: center;
  color: #353535;
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
}
main .hero .information {
  padding-inline: 15px;
  font-weight: 700;
  margin-top: 5px;
  align-items: center;
  font-size: 24px;
  padding-top: 1rem;
  background-color: #F6F6F6;
  font-weight: bold;
}
main .hero .btn-gradient {
  flex-wrap: wrap;
  background-color: #F6F6F6;
  color: white;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 1rem 1rem 0.8rem 1.5rem;
  margin-bottom: 3rem;
  box-shadow: 0 3px 10px #353535;
}
main .hero .btn-gradient:hover {
  cursor: pointer;
}
main .fonctionnement {
  max-width: 1080px;
  margin-inline: auto;
  padding: 30px 15px 60px 15px;
}
main .fonctionnement ol {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 10px;
}
@media (min-width: 1024px) {
  main .fonctionnement ol {
    flex-direction: row;
  }
}
main .fonctionnement ol li {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 1rem;
  padding: 1.5rem 0;
  box-shadow: 0 2px 4px rgba(148, 141, 141, 0.665);
  transition: transform 1s;
  font-size: 1.1rem;
}
main .fonctionnement ol span {
  position: relative;
  left: -1rem;
  border: 1px solid #9356dc;
  padding: 0.4rem 0.8rem;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
}
main .restaurants {
  padding: 40px 15px 50px 15px;
  background-color: #F6F6F6;
}
main .restaurants h2 {
  max-width: 1080px;
  margin-inline: auto;
}
main .restaurants .card-list {
  max-width: 1080px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 768px) {
  main .restaurants .card-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
main .restaurants .card {
  cursor: pointer;
  position: relative;
  min-width: 340px;
  height: 251px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 45%;
  background-color: white;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  main .restaurants .card {
    margin-bottom: 18px;
  }
}
main .restaurants .card img {
  width: 100%;
  object-fit: cover;
  height: 160px;
  border-radius: 1rem 1rem 0 0;
}
main .restaurants .card img .new-restaurant::before {
  content: "Nouveau";
}
main .restaurants .card-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
main .restaurants .card-content-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main .restaurants .card-title, main .restaurants .card-subtitle {
  margin: 0;
  padding: 0;
}
main .restaurants .card-title {
  font-size: 18px;
  font-weight: 700;
}
main .restaurants .card-subtitle {
  font-size: 17px;
  font-weight: 300;
}
main .restaurants span {
  position: absolute;
  right: 10px;
  top: 20px;
  font-weight: bold;
  font-weight: 500;
  background-color: #99E2D0;
  color: #2FAF94;
  padding: 0.5rem;
  width: 65px;
  border-radius: 2px;
}

footer {
  background-color: #353535;
  color: white;
  padding-left: 2rem;
  padding-bottom: 1rem;
}
footer h1 {
  display: flex;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  padding-top: 20px;
  font-size: 20px;
}
footer a {
  text-decoration: none;
  color: white;
  align-items: center;
}
footer i {
  padding-right: 5px;
}
footer .footer-links {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer .footer-links {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  footer .footer-links {
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px 5px 0px 5px;
  }
  footer .footer-links h1 {
    padding: 0px 60px 0px 0px;
  }
  footer .footer-links p {
    margin: 0px;
  }
}
footer .footer-links .footer-interactions {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 768px) {
  footer .footer-links .footer-interactions {
    flex-direction: row;
  }
}
footer .footer-links .footer-information {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 768px) {
  footer .footer-links .footer-information {
    flex-direction: row;
  }
}
footer .footer-links .footer-menulogo {
  display: flex;
  justify-content: center;
}

aside {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  background-color: white;
  animation: display-in-out 2.5s forwards;
}
aside .loader {
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, #ff69b4, #ff6347, #87cefa, #98fb98);
  animation: color-shift 2.5s infinite; /* Ajout d'une animation de fade-out */
  font: 5vw/100vh "Shrikhand";
  font-size: 2rem;
  text-align: center;
  color: transparent;
  -webkit-background-clip: text; /* Permet de remplir le texte avec le dégradé */
  backface-visibility: hidden;
  pointer-events: none; /* Désactive les interactions avec le loader */
}

/*# sourceMappingURL=style.css.map */
